.btn-little
    display: block
    height: 111px
    width: 430px
    text-indent: -9999px
    background-repeat: no-repeat
    +backgroundSize(cover)
    position: relative
    a
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0

.btn-begin
    background-image: url(../images/button_start.png)
.btn-options
    background-image: url(../images/button_options.png)
.btn-credits
    background-image: url(../images/button_credits.png)

.back-arrow
    display: block
    height: 50px
    width: 50px
    background: url(../images/retour.png)
    position: absolute
    top: 30px
    left: 30px
    +backgroundSize(cover)
    a
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0